<div class="highchart"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Stock Quotes in this format
      <pre>YYYY-MM-DD HH:mm:ss 12.3456</pre>
    </div>
    <div class="col"><textarea [(ngModel)]="data" name="data" cols="30" rows="5"></textarea></div>
    <div class="col"><button class="btn btn-success" (click)="drawGraph()">Draw Graph</button></div>
  </div>
</div>

<form #symbolForm="ngForm" class="container-fluid" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="newSymbol" class="col-form-label">Add symbol</label>
    <div class="col-1">
      <input type="text" class="form-control" placeholder="AMD, HTZ, ..." required
             id="newSymbol" name="newSymbol" [(ngModel)]="model.newSymbol" (keydown)="resetAlert()">
    </div>
    <div class="col">
      <button class="btn btn-primary btn-sm" type="submit">Add</button>
    </div>
    <div class="col alert alert-warning" *ngIf="alert">Symbol {{ model.newSymbol }} already existed.</div>
  </div>
</form>
<app-autorun *ngFor="let symbol of symbols" [symbol]="symbol" (close)="closeHandler($event)"></app-autorun>
<p>{{ symbols }}</p>
