<div class="highchart"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Stock Quotes in this format
      <pre>yyyy-MM-dd HH:mm:ss 12.3456</pre>
    </div>
    <div class="col"><textarea [(ngModel)]="data" name="data" cols="30" rows="5"></textarea></div>
    <div class="col"><button class="btn btn-success" (click)="drawGraph()">Draw Graph</button></div>
  </div>
</div>

<form #symbolForm="ngForm" class="container-fluid" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="newSymbol" class="col-form-label">Add symbol</label>
    <div class="col-1">
      <input type="text" class="form-control" placeholder="AMD, HTZ, ..." required
             id="newSymbol" name="newSymbol" [(ngModel)]="model.newSymbol" (keydown)="resetAlert()">
    </div>
    <div class="col">
      <button class="btn btn-primary btn-sm" type="submit">Add</button>
    </div>
    <div class="col alert alert-warning" *ngIf="alert">Symbol {{ model.newSymbol }} already existed.</div>
  </div>
</form>
<app-autorun *ngFor="let symbol of symbols" [symbol]="symbol" (close)="closeHandler($event)"></app-autorun>

<p *ngIf="symantec">Financial services are the economic services provided by the finance industry, which encompasses a
  broad range of businesses that manage money, including credit unions, banks, credit-card companies, insurance
  companies, accountancy companies, consumer-finance companies, stock brokerages, investment funds, individual managers
  and some government-sponsored enterprises.[1] Financial services companies are present in all economically developed
  geographic locations and tend to cluster in local, national, regional and international financial centers such as
  London, New York City, and Tokyo.</p>
<p *ngIf="symantec">The term "financial services" became more prevalent in the United States partly as a result of the
  Gramm-Leach-Bliley Act of the late 1990s, which enabled different types of companies operating in the U.S. financial
  services industry at that time to merge.</p>
<p *ngIf="symantec">Companies usually have two distinct approaches to this new type of business. One approach would be
  a bank which simply buys an insurance company or an investment bank, keeps the original brands of the acquired firm,
  and adds the acquisition to its holding company simply to diversify its earnings. Outside the U.S. (e.g. Japan),
  non-financial services companies are permitted within the holding company. In this scenario, each company still looks
  independent, and has its own customers, etc. In the other style, a bank would simply create its own brokerage division
  or insurance division and attempt to sell those products to its own existing customers, with incentives for combining
  all things with one company.</p>
<p *ngIf="symantec">A financial export is a financial service provided by a domestic firm (regardless of ownership) to a
  foreign firm or individual. While financial services such as banking, insurance and investment management are often seen
  as a domestic service, an increasing proportion of financial services are now being handled abroad, in other financial
  centres, for a variety of reasons. Some smaller financial centres, such as Bermuda, Luxembourg, and the Cayman Islands,
  lack sufficient size for a domestic financial services sector and have developed a role providing services to
  non-residents as offshore financial centres. The increasing competitiveness of financial services has meant that some
  countries, such as Japan, which were self-sufficient have increasingly imported financial services.</p>
